.row{
    margin: 0.2rem 2rem;
}

.herosection-sec-col{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:480px){

    .row{
        margin:0.2rem 0rem
    }
}